<div class="position-absolute top-50 start-50 translate-middle">
  <div class="row">
    <div class="col">
      <h1 class="mb-3 text-center">ABCall</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="mb-3 text-center">Iniciar sesión como:</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary rounded-pill" style="width: 200px" [routerLink]="['/login']" >
        Empresa
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary rounded-pill" style="width: 200px" [routerLink]="['/login']">
        Asesor
      </button>
    </div>
  </div>
</div>

